.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


.card {
  /* background: rgb(216, 214, 192) !important; */
  display: flex;
  text-align: center;
  width: inherit;
  border-bottom: 1px solid rgb(201, 201, 168);
  margin-bottom: 6px;
}

.restaurantDetail {
	position: relative;
	text-align: left !important;
	overflow: hidden;
  width: 45%;
  padding: 7px;
}

.product-image {
	display: inline-block;
	position: relative;
  width: 50%;
}
