.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


.card {
  /* background: rgb(216, 214, 192) !important; */
  display: flex;
  text-align: center;
  width: inherit;
  border-bottom: 1px solid rgb(201, 201, 168);
  margin-bottom: 6px;
}

.restaurantDetail {
	text-align: left !important;
	overflow: auto;
  width: 45%;
  padding-left: 5px;
}

.product-image {
  margin-top: 5px;
  width: 50%;
}

.infoButton {
  height: auto !important;
  background: greenyellow !important;
  margin-bottom: 5px;
}
.infoButton span {
  padding: 0 !important;
  margin: 0 !important;
  font-size: 1em !important;
  text-transform: none !important;
}

.dialogBox {
  display: inline-flex;
  justify-content: space-around;
  background: #fef65b;
}

.streetView, .customerReview {
  width: 45%;
}

.review {
  display: flex;
  align-items: flex-start;
  text-align: left !important;
  border: 0.5px solid darkgray;
  margin-bottom: 5px;
}

.author {
  width: 28%;
}

.textReview {
  width: 70%;
  border-left: 1px dashed peru; 
}

h3 {
  color: #990014;
}

form input, form textarea {
  width: 40%;
}

.popup {
  background-color: rgba(0,0,0, 0.5);
}