.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  color: #FFF000;
  padding: 0;
  height: 90px;
  display: flex;
  justify-content: center;
}

.App-title {
  width: 25%;
  font-size: 2em;
  padding-top: 5px;
  padding-bottom: 5px; 
  margin: auto 5%;
}

.mainContent {
  display: inline-block;
  height: 100vh;
  width: 100vw;
}
.card {
  /* background: rgb(216, 214, 192) !important; */
  display: flex;
  text-align: center;
  width: inherit;
  border-bottom: 1px solid rgb(201, 201, 168);
  margin-bottom: 6px;
}

.restaurantDetail {
	text-align: left !important;
	overflow: auto;
  width: 46%;
  padding-left: 5px;
}

.product-image {
  margin-top: 5px;
  width: 50%;
}

.infoButton {
  height: auto !important;
  background: greenyellow !important;
  margin-bottom: 5px;
}
.infoButton span {
  padding: 0 !important;
  margin: 0 !important;
  font-size: 1em !important;
  text-transform: none !important;
}

.dialogBox {
  display: inline-flex;
  justify-content: space-around;
  background: #fff874;
}

.streetView, .customerReview {
  width: 45%;
}

.review {
  display: flex;
  align-items: flex-start;
  text-align: left !important;
  border: 0.5px solid darkgray;
  border-radius: 5px;
  margin-bottom: 4px;
}

.author {
  width: 28%;
  font-weight: bold;
}

.textReview {
  width: 70%;
  
}

h3 {
  color: #990014;
}

.dropReview input, form textarea {
  width: 40%;
}

.popup {
  background-color: rgba(0,0,0, 0.5);
}

.minBox, .maxBox {
  display: inline-block;
  width: 45%;
}

.sortForm button {
  display: inline-block;
  width: 30%;
  padding: 5px;
 
}

@media screen and (max-width: 600px) {
.mainContent {
  display: block;
  width: 100vw !important;
}
.App-title {
  font-size: 1.4em;
}
.dialogBox {
  display: block;
}

.streetView, .customerReview {
  width: 100%;
  word-wrap: break-word;
}
}